@charset "utf-8"; 



body {
    background: linear-gradient(90deg,#83a4d4,#f0f8ff,#b6fbff);
    min-height: 100%;
    font-family: "A-OTF 太ミンA101 Pro Bold";
    
    
}

header img {
    position:relative;
}

.container {
    text-align : center;
    width: 100%;
    max-width: 960px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}

    
.container h3 {
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  letter-spacing: 2px;
  padding: 20px;
  font-size: larger;
}

ul {
   writing-mode: vertical-rl;
   list-style-type: none;
   justify-content: space-between;
   margin:auto;
   padding:50px;
}

ul li {
   display: flex;
   padding: 8px 25px;
   color:white;
   letter-spacing: 10px;
}

a {
    color:grey;
}


.mokuji {
    border:solid 1px grey;
    margin: 20px;
}


.shokai {
    background-color: white;
    padding: 20px;
}

.shokai h5 {
    letter-spacing: 3px;
    font-size: 15px;
    text-align: center;
}

.shokai p {
  text-align: center;
  white-space: normal;
  white-space: pre-wrap;
  padding-bottom: 30px;

}




p {
    font-size: small;
    letter-spacing: 5px;
    white-space: normal;
    white-space: pre-wrap;
    text-align: center;
    padding:20px
}

h4 {
    color:#6e7899;
    letter-spacing: 5px;
    padding:10px;
}



.watashi {

    padding:50px;
    margin: 20px 50px;
    
}


.kikkake  {
    
    padding:50px;
    margin:20px 50px;
}


.keireki  {
    
    padding:20px;
    margin:20px 50px;

}

.box {
    background-color: white;
    
    display: flex;
    margin:20px 50px;
    

}


.box img {
    width:430px;
    height: 300px;
    object-fit: cover; 
    max-width: 100%;
}

.box p {
    text-align: center;
}



hr {
    height: 1px;
    color: grey;
    width: 300px;
    text-align: center;
}

