@charset "utf-8"; 

body {
    background:linear-gradient(180deg,#801d2e,#ff4d6a,#ff9100);
    padding:20px;
}

.container {
    text-align : center;
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding: 10px;
}


.bg {
    position: relative;
    }
  
  .bg h4 {
    position: absolute;/*絶対配*/
    color: white;/*文字は白に*/
    letter-spacing: 12px;
    font-size:20px;
    top: 30px;
    left: 40px;

    }
  
  .bg img {
    width: 100%;
    height:300px;
    object-fit: cover; 
    }

h3 {
    text-align:center;
    padding:10px;
}


p {
    font-size:small;
    white-space: normal;
    white-space: pre-wrap;
    text-align:center;
    letter-spacing: 3px;
    padding:5px;
}

.job {
    text-align:center;
    background-color: white;
}


.jisseki {
    font-size: 15px;
    text-align:center;
    padding:10px;
}

footer {
    text-align: center;
    padding:20px;
}
